h1 {
    text-align: center;
}

.hole {
    margin-left: 40px;
}

.team {
    margin-left: 40px;
}

.player {
    margin-left: 20px;
    color: rgb(207, 207, 45);
}

.clear-data-button-box {
    text-align: center;
}

#clear-data-button {
    all: unset;
    padding-inline: 10px;
    font-size: 1.3em;
    border-radius: 5px;
    font-family: Bebas;
    color: var(--background);
    background-color: var(--text);
}