.mainBox {
    display: flex;
}

.mainBox div {
    height: 100%;
}

.sideBox{
    width: 20%;
    background-color: var(--tan);
}

.mapBox {
    width: 60%;
    height: 100%;
}

.mobile{
    display: none;
}

@media (max-width: 1350px) {
    
}

@media (max-width: 1000px) {

}

@media(max-width:850px){
    .sideBox{
        display: none;
    }
    .mapBox{
        width: 100%;
        height: 100%;
    }
    .mobile{
        display: block;
        padding-block: 20px;
        padding-inline: 30px;
        height: 100%;
    }
    .pdfBox{
        display: none;
    }
}

@media (max-width: 550px) {

}
