.mainBox {
    display: flex;
}

.mainBox div {

    height: 100%;
}

.sideBox{
    width: 20%;
}

.mapBox {
    width: 60%;
}

#map { height: 100%; }


@media (max-width: 1350px) {
    
}

@media (max-width: 1000px) {

}

@media(max-width:850px){
    .sideBox{
        display: none;
    }
    .mapBox{
        width: 100%;
    }
}

@media (max-width: 550px) {

}
