.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    font-size: 2em;
}

header {
    margin-top: 20px;
    padding: 0px;
    height: 100px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

h2 {
    margin: 10px;
    text-decoration: underline;
}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
}

#card_player{
    display: flex;
}

#pairing {
    width: 100%;
    display: flex;
    justify-content: center;
}

#hole {
    width: 100%;
    display: flex;
    justify-content: center;
}

#card {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#centering {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.player-name {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#score-input-box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#score-input {
    letter-spacing: 1px;
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
}

#score-input[type="number"]
{
    text-align: center;
    padding-inline: 20px;
    font-size: 2em;
    font-family: Bebas;
    color: var(--background);
}

#score-submit {
    background-color: var(--text);
    font-family: Bebas;
    font-size: 2em;
    letter-spacing: 1px;;
    height: 100%;
    width: 25%;
}