:root {
    --gray: #333;
    --navyBlue: #101535f6;
    --brown:  #c9a053;
    --gold: rgb(182, 179, 0);
    --lightBrown: #ffdfae;
    --blue: rgb(94,179,216);
    --umassdblue: rgb(0,174,221);
    --umassddarkblue: rgb(0,55,100);
    --umassdgold: rgb(255,185,21);
    --darkblue: rgb(81, 155, 186);
    --yellow: rgb(207, 196, 44);
    --tan: rgba(180, 208, 219, 0.877);
}
@font-face {
    font-family: "Pirate";
    src: url("/assets/fonts/PirataOne-Regular.ttf");
}


body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: inherit;
}

/* Header/Hero bar stuff */

header {
    position: relative;
    height: 85vh;
    margin: 0px;
    padding: 0px 0;
    text-align: center;
    background-color: var(--tan);
}

.backgroundImage {
    background-image: url(/assets/img/railing.jpg);
    background-repeat: no-repeat;
    background-position: bottom 58% left 90%;
    background-size: 125%;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.heroInfo {
    margin: 0px;
    padding: 0px 0;
    position: absolute;
    top: 45%;
    left: 33%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroText{
    font-family: Pirate;
    color: black;
    letter-spacing: 8px;
    font-size: 2em;
    margin: 30px;
    /* text-shadow: 5px 5px 5px black; */
    /* border: #67e4f5 1px solid; */
}
.heroText h1{
    /* border: #f7f7f7 1px solid; */
    margin: 0;
}

.heroButton{
    width: 300px;
    height: 50px;
    background-color: var(--blue);
    font-family: Pirate;
    color: var(--gray);
    /* border: #c25151 1px solid; */
    /* padding: 0; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.heroButton a{
    /* border: #67e4f5 1px solid; */
    color: black;
    text-decoration: none;
    font-family: Pirate;
    font-size: 2em;
    transition: background-color 0.2s ease-out;
    padding: 3px 15px;

}


/* footer */

footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    height: 5vh;
    margin-block: 0;
}

#map {
    height: 400px;
    width: 100%;
}

#secretbutton {
    width: 20px;
    height: 20px;
}

#secretbutton a{
    color: var(--gray);
}