:root {
    --text: rgba(180, 208, 219, 0.877);
    --background: #232323
}
@font-face {
    font-family: "Bebas";
    src: url("/assets/fonts/BebasNeue-Regular.ttf");
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
    color: var(--text);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}


/* Header/Hero bar stuff */

header {
    position: relative;
    height: 20vh;
    margin: 0px;
    padding: 0px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heroInfo {
    margin: 0px;
    padding: 0px 0;
    position: absolute;
    align-items: center;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}